@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root{
    --bg-color:#fff;
    --text-color:#555;
    --calc-display-btn-color:#fff;
    --calc-display-board-color: #fff;
}
.calc-darkmode{
    --bg-color:rgb(34, 37, 46);
    --text-color:#fff;
    --calc-display-btn-color:rgb(41, 45, 54);
    --calc-display-board-color: rgb(39, 43, 52);
}

/* @media (prefers-color-scheme: dark){
    :root{
    --bg-color:rgb(34, 37, 46);
    --text-color:#fff;
    --calc-display-btn-color:rgb(41, 45, 54);
    --calc-display-board-color: rgb(39, 43, 52);
    }
} */
*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline:none;
}
html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    background:var(--bg-color);
    color:var(--text-color);
    display:grid;
    place-items: center;
    height:100vh;
}
.calculator-wrapper{
    height:100%;
    width:100%;
    max-height: 90rem;
    border:1px solid #aaa;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    background: lightgreen;
}
.calculator{
    height:100%;
    width: 100%;
    display:grid;
    grid-template-rows: 35% 65%;
}
.calculator-display{
    background:var(--calc-display-board-color);
}
.calculator-board{
    background: var(--calc-display-btn-color);
    display:grid;
    grid-template-columns: repeat(4, 4fr);
}
.calculator-board-btn{
    display:grid;
    place-items: center;
    font-size:2rem;
    border:.5px solid #eee;
    position: relative;
    overflow:hidden;
}
.calculator-board-btn:active{
    background: rgb(159, 194, 230);
}
.btn-aqua{
    color:rgb(69, 232, 205);
}
.btn-red{
    color:rgb(195, 100, 104);
}
.calculator-display{
    display: grid;
    grid-template-rows: 50% 50%;
}
.calculator-display-calc{
    height:100%;
    width:100%;
}
.calculator-display-calc input{
    height:100%;
    width:100%;
    font-size:2rem;
    padding:1rem;
    border:none;
    background:transparent;
}
.calculator-display-ans{
    font-size: 3rem;
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight:400;
}

.darktheme{
    height:2.6rem;
    width:4.2rem;
    background:lavender;
    border-radius:1.2rem;
    padding:4.2px 3px;
    display:flex;
    justify-content: flex-start;
    position: fixed;
    top:2%;
    right:2%;
    transform:translate(-2%, -2%);
}

.darktheme.sidenav_effect{
    justify-content:flex-end;
    background:rgb(71, 77, 87);
}
.darktheme_box{
    height:1.75rem;
    width:1.75rem;
    background:#fff;
    border-radius:1.2rem;
    color:rgb(240, 185, 11);
    position:relative;
    display:grid;
    place-items:center;
    box-shadow:rgb(20 21 26 / 4%) 0px 1px 2px, rgb(71 77 87 / 4%) 0px 3px 6px, rgb(20 21 26 / 10%) 0px 0px 1px;

}
.darktheme_box span{
    font-size:17px;
}


@media screen and (min-width:768px){
    .calculator-wrapper{
        width:76.8rem;
        height:50rem;
    }
}