@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

:root{
    --bg-color:#fff;
    --text-color:rgb(34, 37, 46);
}

@media (prefers-color-scheme: dark){
    :root{
    --bg-color:rgb(34, 37, 46);
    --text-color:#fff;
    }
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    background:var(--bg-color);
    color:var(--text-color);
    display:grid;
    place-items: center;
    height:100vh;
}
.calculator-wrapper{
    height:100%;
    width:100%;
    max-height: 72rem;
    border:1px solid #aaa;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.3);
    background: lightgreen;
}
.calculator{
    height:100%;
    width: 100%;
    display:grid;
    grid-template-rows: 35% 65%;
}
.calculator-display{
    background:dodgerblue;
}
.calculator-board{
    background: orangered;
    display:grid;
    grid-template-columns: repeat(4, 4fr);
}
.calculator-board-btn{
    display:grid;
    place-items: center;
    font-size:2rem;
    border:.5px solid #eee;
}

@media screen and (min-width:768px){
    .calculator-wrapper{
        width:76.8rem;
        height:50rem;
    }
}